* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: justify;
}

.header {
    background-color: #00428f;
    color: #FFF;
    padding: 30px;
}

.contents {
    padding: 5%;
    gap: 4.0vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.container {
    padding: 5%;
    border: 3px solid #000000;
    text-align: center;
}

.footer {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #00428f;
    color: #FFF;
    font-size: 14px;
}

.school {
    letter-spacing: 0.1em;
}

#dao {
    height: 0.78em;
}

@media only screen and (max-width: 391px) {
    .container {
        margin: 20px 30px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 391px) {

    .container {
        width: 47%;
        font-size: 4.0vw;

    }
}